.container {
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.subHeader {
}

.body {
}

.title {
  font-size: xx-large;
}
